USE [master]
GO
/****** Object:  Database [AssignmentDB]    Script Date: 3/16/2017 12:36:10 PM ******/
CREATE DATABASE [AssignmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssignmentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\AssignmentDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AssignmentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\AssignmentDB_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssignmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssignmentDB]
GO
/****** Object:  Table [dbo].[AboutUs]    Script Date: 3/16/2017 12:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUs](
	[AboutID] [nvarchar](10) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[DateInsert] [date] NOT NULL,
	[Hotline] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_AboutUs] PRIMARY KEY CLUSTERED 
(
	[AboutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/16/2017 12:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DescriptionUser] [nvarchar](max) NULL,
	[FacebookURL] [nvarchar](max) NULL,
	[Address] [nvarchar](200) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bidy]    Script Date: 3/16/2017 12:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bidy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[IdProduct] [nvarchar](10) NOT NULL,
	[Price] [float] NOT NULL,
	[BidTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Bidy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/16/2017 12:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [nvarchar](10) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 3/16/2017 12:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[DateSend] [datetime] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[ContentMessage] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[DateSend] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InRole]    Script Date: 3/16/2017 12:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InRole](
	[IdAccount] [nvarchar](10) NOT NULL,
	[TypeID] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_InRole] PRIMARY KEY CLUSTERED 
(
	[IdAccount] ASC,
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/16/2017 12:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[MinPrice] [float] NOT NULL,
	[BaseDescription] [nvarchar](max) NOT NULL,
	[TimeBegin] [datetime] NOT NULL,
	[TimeEnd] [datetime] NOT NULL,
	[MinPriceStep] [float] NOT NULL,
	[ImageURL] [nvarchar](max) NOT NULL,
	[FirstPrice] [float] NULL,
	[CategoryID] [nvarchar](10) NOT NULL,
	[TopPrice] [float] NULL,
	[BidyCount] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TradingGuide]    Script Date: 3/16/2017 12:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradingGuide](
	[DescriptionBid] [nvarchar](max) NOT NULL,
	[Hotline] [nvarchar](20) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeRole]    Script Date: 3/16/2017 12:36:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeRole](
	[TypeID] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeRole] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([Username], [Password], [Email], [Name], [DescriptionUser], [FacebookURL], [Address]) VALUES (N'doitsu2014', N'duc123', N'thd1152018@gmail.com', N'DOITSU', N'FA all of time', NULL, N'66 Huynh Tinh Cua')
INSERT [dbo].[Account] ([Username], [Password], [Email], [Name], [DescriptionUser], [FacebookURL], [Address]) VALUES (N'doitsu2016', N'duc777777', N'thd11@gmail.com', N'tran huu duc', NULL, NULL, NULL)
INSERT [dbo].[Account] ([Username], [Password], [Email], [Name], [DescriptionUser], [FacebookURL], [Address]) VALUES (N'ductran', N'duc123', N'thd1152015@gmail.com', N'Tran Huu Duc', N'FA 1 year', NULL, N'424 Lo D chung cu lac long quan')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (N'CATE01', N'Xe dua')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (N'CATE02', N'Xe co dien')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (N'CATE03', N'Xe tank')
INSERT [dbo].[Product] ([IdProduct], [Name], [MinPrice], [BaseDescription], [TimeBegin], [TimeEnd], [MinPriceStep], [ImageURL], [FirstPrice], [CategoryID], [TopPrice], [BidyCount]) VALUES (N'PRO001', N'2008 Lancer Evolution', 100, N'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.', CAST(N'2017-03-10 00:00:00.000' AS DateTime), CAST(N'2017-03-16 23:00:00.000' AS DateTime), 20, N'/Content/images/1%20(1).png', 0, N'CATE01', 0, 0)
INSERT [dbo].[Product] ([IdProduct], [Name], [MinPrice], [BaseDescription], [TimeBegin], [TimeEnd], [MinPriceStep], [ImageURL], [FirstPrice], [CategoryID], [TopPrice], [BidyCount]) VALUES (N'PRO002', N'Bone Speeder', 100, N'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.', CAST(N'2017-03-10 00:00:00.000' AS DateTime), CAST(N'2017-03-16 21:00:00.000' AS DateTime), 20, N'/Content/images/1%20(2).png', 0, N'CATE01', 0, 0)
INSERT [dbo].[Product] ([IdProduct], [Name], [MinPrice], [BaseDescription], [TimeBegin], [TimeEnd], [MinPriceStep], [ImageURL], [FirstPrice], [CategoryID], [TopPrice], [BidyCount]) VALUES (N'PRO003', N'Formula Flashback', 100, N'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.', CAST(N'2017-03-10 00:00:00.000' AS DateTime), CAST(N'2017-03-16 18:00:00.000' AS DateTime), 20, N'/Content/images/1%20(3).png', 0, N'CATE01', 0, 0)
ALTER TABLE [dbo].[Bidy]  WITH CHECK ADD  CONSTRAINT [FK_Bidy_Account] FOREIGN KEY([Username])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Bidy] CHECK CONSTRAINT [FK_Bidy_Account]
GO
ALTER TABLE [dbo].[Bidy]  WITH CHECK ADD  CONSTRAINT [FK_Bidy_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[Bidy] CHECK CONSTRAINT [FK_Bidy_Product]
GO
ALTER TABLE [dbo].[InRole]  WITH CHECK ADD  CONSTRAINT [FK_InRole_TypeRole] FOREIGN KEY([TypeID])
REFERENCES [dbo].[TypeRole] ([TypeID])
GO
ALTER TABLE [dbo].[InRole] CHECK CONSTRAINT [FK_InRole_TypeRole]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
